:root {
  --nav-bg-color: lightgray;
}

body {
  background-color: darkgray;
  overflow-x: hidden;
}

.theTitle {
  text-align: center;
  justify-content: center;
  font-size: 1cm;
  margin: 0.1em;
}
.top-buttons {
  display: flex;
  flex-direction: row;
}
.btn {
  padding: 0.5em;
  margin: 0.25em;
  border: none;
  font-size: medium;
  background-color: lightgray;
  transition-duration: 0.2s;
}
.start {
  flex: 1;
  background-color: lightgreen;
}
.stop {
  flex: 1;
  background-color: pink;
}
.manual-rebal {
  flex: 1;
}
.getAccount {
  flex: 1;
}

/* output boxes */
.output-all{
  display: flex;
}
.outputs {
  border: 3px solid darkgreen;
  border-radius: 15px;
  overflow-y: scroll;
  margin: 0.25em;

}
.left-output {
  flex: 1;
}
.left-top {
  height: 3em;
  overflow-y: hidden;
  text-align: center;
  margin-bottom: 0.5em;
}
.left-bottom {
  height: 28em;
  overflow-y: scroll;
}
.mid-output {
  flex: 2;
}
.right-output {
  flex: 1;
  height: 33em;
}


/* scroll bars */
.outputs::-webkit-scrollbar-thumb {
  background-color: darkslategray;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}
.outputs::-webkit-scrollbar {
  width: 16px;
}

.status {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.25em;
}

#chart {
  height: 28em;
  width: 100%;
}
#topChart {
  height: 18em;
}
#botChart {
  height: 10em;
}

.btn:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}

/* navigation */
.nav {
  background: var(--nav-bg-color);
  border-radius: 1em;
  position: absolute;
  right: 0;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
  z-index: 10000;
}
.nav__list {
  list-style: none;
  /* margin: 0; */
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 2em 1em;
  margin: 0;
  text-align: center;
}

.nav__item {
  margin: 0.25em;
}
.nav_title {
  margin-top: 1em;
}

.stock-width {
  /* display: block; */
  border: none;
  padding: 0;
  width: 4.8ch;
  /* text-align: center; */
  font: 5ch droid sans mono, consolas, monospace;
  background: repeating-linear-gradient(
      90deg,
      dimgrey 0,
      dimgrey 1ch,
      transparent 0,
      transparent 1.2ch
    )
    0 100%/ 4.8ch 2px no-repeat;
  letter-spacing: 0.2ch;
}
.stock-width:focus {
  outline: none;
}
.stock-width::selection {
  background-color: rgba(151, 151, 151, 0.25);
}

.key-width {
  border: none;
  width: 25em;
  text-align: center;
}
.key-width::selection {
  background-color: rgb(216, 216, 216);
}
.key-width:focus {
  outline: none;
  box-shadow: 0.4em 0.25em 0.25em darkgrey;
}
.nav_btn {
  background-color: lightgreen;
}

/* .nav__link {
  text-decoration: none;
  color: darkgray;
}

.nav__link:hover {
  text-decoration: underline;
  color: blue;
} */

.nav__toggle {
  position: absolute;
  top: 0;
  left: inherit;
  transform: translateX(-100%);
  background: var(--nav-bg-color);
  padding: 1em 0.5em;
  border: 0;
  border-radius: 0.25em 0 0 0.25em;
  cursor: pointer;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2em;
  height: 3px;
  background: darkgray;
  transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 6px;
}
.hamburger::after {
  top: 6px;
}
/* Navigation open styles */

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav__toggle {
  right: -3em;
}

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  transform: rotate(90deg) translate(-6px);
}

/* Nav paper slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: lightgreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px lightgreen;
}

input:checked + .slider:before {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
  font-size: small;
  font-family: sans-serif;
  vertical-align: middle;
}

.slider.round::before {
  border-radius: 50%;
}

.slider.round::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
