body{
  background-color: darkgray;
}
.theTitle{
  grid-column: 1/-1;
  text-align: center;
  font-size: 1cm;
  margin: 0;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
}

.log-output,
.log-info {
  display: grid; 
  height: 15em;
  border: 3px solid darkgreen;
  border-radius: 15px;
  overflow-y: scroll;
  padding: 0.25em;
  margin-bottom: 0.5em;
}
.log-output::-webkit-scrollbar-thumb,
.log-info::-webkit-scrollbar-thumb {
  background-color: darkslategray;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;  
}
.log-output::-webkit-scrollbar,
.log-info::-webkit-scrollbar {
  width: 16px;
}
.log-output{
  grid-row: 4/5;
  grid-column: 1/3;
}
.log-info{
  grid-row: 4/5;
  grid-column: 3/-1;
}

#chart{
  height: 10em;
  width: 100%;
  grid-row: 3/4;
  grid-column: 1/-1;
}

.btn {
  padding: 0.5em;
  /* margin: 0.5em; */
  border: none;
  font-size: medium;
  background-color: lightgray;
  transition-duration: 0.2s;
}
.start{
  background-color: lightgreen;
  grid-column: 1/2;
}
.stop {
  background-color: pink;
}
.getAccount{
  grid-row: 2/3;
  grid-column: -2/-1;
}

.div-input{
  grid-column: 1/2;
  text-align: right;
}
.input {
  width: 5em;
}

.btn:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}
